@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
   font-family: 'Poppins', sans-serif;
   background: white;
   font-size: 0.9em;
}

p {
   font-family: 'Poppins', sans-serif;
   font-weight: 300;
   line-height: 1.7em;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.container p{
   font-size: 15px;
}

/*halaman user setelah login*/
.dropdown-menu{
    font-size: 18px;
}
.aktif{
    background-color: white;
    color: #ff471a;
}
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
}
.nav-kir li:hover{
    background-color: white;
    color: #ff471a;
}
.nav-kir li{
    padding: 16px;
}
.dropdown-item:hover{
    background-color: white;
    color: #ff471a;
}
.custam{
    background-color: #ff471a;
    padding: 0;
    margin-top: 0;
    border-radius: 0;
}
.dropdown-item{
    color: white;
    text-decoration: none;
    transition: all 0.3s;
    padding: 16px;
}

/*untuk dropdown aktif*/
.on{
    background-color: white;
    color: #ff471a; 
}

/*info login*/
.img-bunder{
    border: 1px solid #101010; 
    padding: 5px; 
    display: inline-block; 
    margin: 1rem auto; 
    border-radius: 100%;
}
.img-bunder img{
    max-height: 80px;
}
.dropdown-cus{
    width:300px; 
    margin-top:25px; 
    right:-35px;
    border-radius: 10px;
}
.inf{
    font: 500 16px/22px Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
.info-cus{
    font-size: 15px;
}
.tombol-set{
    background-color: #ffffff;
    border: 1px solid #dadce0;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    color: #3c4043;
    display: inline-block;
    font: 500 14px/16px Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    letter-spacing: .25px;
    margin: 16px 0 0;
    max-width: 254px;
    outline: 0;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
}
.tombol-metu{
    background-color: #ffffff;
    border: 1px solid #dadce0;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    font: 500 14px/16px Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    letter-spacing: .15px;
    margin: 16px;
    outline: 0;
    padding: 10px 24px;
    text-align: center;
    color: #3c4043;
    text-decoration: none;
    white-space: normal;
}
.tombol-metu:hover , .tombol-set:hover{
    background-color: #dadce0;
}

/*end halaman user*/

.navbar {
   background: #ff471a;
   padding: 0;
   border: none;
   border-radius: 0;
   box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.cus ,.cus:hover, .togglemenu{
   color:white;
   background-color:#ff471a;
}
#sidebar, .togglemenu, .overlay, #x {
   display: none;
}

/*content style*/

#content {
   width: 100%;
   padding: 0px 15px 0px;
   min-height: 100vh;
   transition: all 0.3s;
}
.crop img{
   height: 170px;
   object-fit: cover;
}

/* start preloader*/
#preloader {
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

/*Battery*/
.loder-box {
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 1px;
    height: 100px;
    left: 50%;
    margin-left: -64px;
    margin-top: -50px;
    position: absolute;
    top: 50%;
    width: 128px;
}

.battery{
    width: 60px;
    height: 25px;
    top: 35%;
    border: 1px #2E2E2E solid;
    border-radius: 2px;
    position: relative;
    -webkit-animation: charge 5s linear infinite;
    -moz-animation: charge 5s linear infinite;
    animation: charge 5s linear infinite;
    margin: 0 auto;
}

.battery:after {
    background-color: #2E2E2E;
    border-radius: 0 1px 1px 0;
    content: "";
    height: 10px;
    position: absolute;
    right: -5px;
    top: 7px;
    width: 3px;
}

@-webkit-keyframes charge{
    0%{box-shadow: inset 0px 0px 0px #2E2E2E;}
    100%{box-shadow: inset 60px 0px 0px #2E2E2E;}
}

@-moz-keyframes charge{
    0%{box-shadow: inset 0px 0px 0px #2E2E2E;}
    100%{box-shadow: inset 60px 0px 0px #2E2E2E;}
}

@keyframes charge{
    0%{box-shadow: inset 0px 0px 0px #2E2E2E;}
    100%{box-shadow: inset 60px 0px 0px #2E2E2E;}
}
/*end Preloader*/

/* jumbotron */
.jumbotron{
    background-image: url('/foto/ui/jumbotron.png');
    background-size: cover;
    height: 500px;
    margin-bottom: 0px;
    text-align: center;
    position: relative;
}


.jumbotron .container{
    position: relative;
    z-index: 1;
}


.jumbotron::after{
    content:'';
    display: block;
    width:100%;
    height:80%;
    background-image: linear-gradient(to top,rgba(0,0,0,1),rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}


.jumbotron h1{
    color: white;
    margin-top: 150px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
    font-weight: 200;
    font-size: 40px;
    margin-bottom: 30px;
}


.jumbotron h1 span{
    font-weight: 500;
}

/*barang coming soon*/
.background{
    padding: 20px 0px 75px;
    background: linear-gradient(315deg, #17009F 0%, #078BE6 95%);

}
    .pagination{
        float: right; 
        margin-right: 20px;
    }

    .judul{
        text-shadow: 3px 3px gray;
        color: #F3F4FA;
        font-weight:800;
        font-size:2.5rem; 
        margin-bottom: 40px;
    }
    .crop img{
        height: 240px;
        object-fit: cover;
    }
    .card-custom{
        border-radius: 18px;
        background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
        color: white;

    }
    .card-body{
        padding: 1.25rem 1rem 1.8rem;
    }
    #clock > div {
        border-radius: 5px;
        background: #006bb3;
        padding: 10px 10px 5px 10px;
        color: #fff;
        display: inline-block;
    }
    #clock > div > p {
        font-size: 16px;
    }
    .days, .hours, .minutes, .seconds {
        padding: 5px;
        font-size: 16px;
        background: #005c99;
        display: inline-block;
        width: 40px;
    }
    span.turn {
        animation: turn 0.7s ease;
    }
    @keyframes turn {
        0% {transform: rotateX(0deg)}
        100% {transform: rotateX(360deg)}
    }
    /*end coming soon*/

/*halaman tawar di running dan tawar dihistory*/
    .tom .card-header:after {
        font-family: 'FontAwesome';  
        content: "\f077";
        float: right; 
    }
    .tom .card-header.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "\f078"; 
    }
    
    .crop img{
        height: 170px;
        object-fit: cover;
    }
    .nohover:hover {
        /* here copy default .btn class styles */
        cursor:default !important;
        color: #28a745;
        background-color: transparent;
        background-image: none;
        border-color: #28a745;
        /* or something like that */
    }
    .coment{
        /*border:1px solid black; */
        max-height: 530px; 
        overflow-y: auto; 
        background-color: white;
    }
    @media (max-width: 768px) {
        .hc{
            font-size: 24px;
        }
        .font , .wektu{
            font-size: 17px;
        }
        .post ,.btn-med {
            font-size: 18px;
        }
        .tawaran{
            font-size: 18px;
        }
    }
/*end halaman tawar di running dan tawar dihistory*/


/*deskripsi*/
.deskripsi h3{
    font-size:42px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 30px;
}


.deskripsi h3 span{
    font-weight: 500;
}


.deskripsi p{
    font-size: 18px;
    color: #6c757d;
    font-weight: 200;
    margin: 25px 0;
}
@media(min-width:992px){
    .deskripsi{
        margin-top: 2rem;
        text-align: left;
    }
}

.gambar{
    display: none;
}
@media(max-width:992px){
    .loder-box {
        left: 52%;

    }
    .deskripsi{
        text-align: center;
    }
    .gambar{
        display: inline;
    }
    .gambars{
        display: none;
    }
}

@media (max-width: 991px) {
   h3{
       font-size: 1.5em;
   }
   .wrapper {
       display: flex;
       width: 100%;
       align-items: stretch;
   }
   /*sidebar dan navbar*/
   .navbar{
    height:60px;
}
#sidebar {
   display: inline;
   margin-left: -250px;
   min-width: 250px;
   max-width: 250px;
   background: #ff471a;
   color: #fff;
   transition: all 0.3s;
   height: 100%;
   overflow-y: scroll;
   position: fixed;
   z-index: 3;
}

#x:hover {
   background: #fff;
   color: #ff471a;
}

#sidebar .sidebar-header {
   padding: 20px;
   background: #ff704d;
}

#sidebar ul.components {
   padding: 20px 0;
   border-bottom: 1px solid #47748b;
}

#sidebar ul p {
   color: #fff;
   padding: 10px;
}

#sidebar ul li a {
   padding: 10px;
   display: block;
}

#sidebar ul li a:hover {
   color: #ff471a;
   background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
   color: #fff;
   background: #ff704d;
}

a[data-toggle="collapse"] {
   position: relative;
}

.dropdown-toggle::after {
   display: block;
   position: absolute;
   top: 50%;
   right: 20px;
   transform: translateY(-50%);
}

ul ul a {
   font-size: 0.9em !important;
   padding-left: 30px !important;
   background: #ff704d;
}

ul.CTAs {
   padding: 20px;
}

ul.CTAs a {
   text-align: center;
   font-size: 0.9em !important;
   display: block;
   border-radius: 5px;
   margin-bottom: 5px;
}

a.keluar {
   background: #fff;
   color: #ff471a;
}
#sidebar.active {
   margin-left: 0;
}
.togglemenu{
   display: inline;
}
#x.active{
   display: inline;
   width: 50px;
   height: 50px;
   line-height: 50px;
   font-size: 20px;
   text-align: center;
   background: #ff704d;
   position: fixed;
   top: 0;
   margin-left: 250px;
   cursor: pointer;
   -webkit-transition: all 0.3s;
   -o-transition: all 0.3s;
   transition: all 0.3s;
}
.overlay{
   position: fixed;
   width: 100vw;
   height: 100vh;
   background: rgba(0, 0, 0, 0.7);
   opacity: 0;
   transition: all 0.5s ease-in-out;
   z-index: 2;
}
.overlay.active {
   display: block;
   opacity: 1;
}

}
