/*
    DEMO STYLE
    */

    @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
    body {
        font-family: 'Poppins', sans-serif;
        background: #f2f2f2;
        font-size: 0.9em;
    }

    p {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        line-height: 1.7em;
        color: #999;
    }
    a,
    a:hover,
    a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }

    .navbar {
        background: #005ce6;
        padding: 15px 10px;
        border: none;
        border-radius: 0;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }

    .navbar-btn {
        box-shadow: none;
        outline: none !important;
        border: none;
    }
    .cus,.togglemenu{
        color:white;
        background-color:#0066ff;
    }

    .line {
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #ddd;
        margin: 40px 0;
    }
    .togglemenu{
        display: none;
    }

    .overlay {
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);

        opacity: 0;
        transition: all 0.5s ease-in-out;
    }
    .breadcrumb{
        background: #f2f2f2; 
        padding: 0; 
        margin: 0;
        font-size: 14px;
    }
    #example{
        width:100%;
    }
    .lev{
        border-radius: 16px; 
        font-size: 12px;
    }
    .my-card{
        position:absolute;
        left:37%;
        top:-30px;
        border-radius:50%;
    }
    .btn-ling{
        width: 35px; 
        height: 35px;
        border-radius: 100%; 
        padding: .25rem .25rem;
        font-size: 15px;
    }

/* ---------------------------------------------------
    SIDEBAR STYLE
    ----------------------------------------------------- */

    .wrapper {
        display: flex;
        width: 100%;
        align-items: stretch;
    }
    #sidebar {
        min-width: 250px;
        max-width: 250px;
        background: #005ce6;
        color: #fff;
        transition: all 0.3s;
        height: 100%;
        overflow-y: scroll;
        position: fixed;
        z-index: 1;
    }
    #dismiss {
        display: none;
    }

    #dismiss:hover {
        background: #fff;
        color: #005ce6;
    }
    .coba{
        min-width: 250px;
        max-width: 250px;

    }

/*#sidebar.active {
    margin-left: -250px;
    }*/

    #sidebar .sidebar-header {
        padding: 20px;
        background: #0066ff;
    }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }

    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        display: block;
    }

    #sidebar ul li a:hover {
        color: #005ce6;
        background: #fff;
    }

    #sidebar ul li.active>a,
    a[aria-expanded="true"] {
        color: #fff;
        background: #0066ff;
    }

    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: #0066ff;
    }

    ul.CTAs {
        padding: 20px;
    }

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    a.keluar {
        background: #fff;
        color: #005ce6;
    }

/* ---------------------------------------------------
    CONTENT STYLE
    ----------------------------------------------------- */

    #content {
        width: 100%;
        padding: 20px;
        min-height: 100vh;
        transition: all 0.3s;
    }
    .card-font{
        font-size: 15px;
    }


/* ---------------------------------------------------
    FOOTER STYLE
    ----------------------------------------------------- */
    footer{
        margin-top: 40px;
    }

/* ---------------------------------------------------
    MEDIAQUERIES
    ----------------------------------------------------- */

    @media (max-width: 768px) {
        #sidebar {
            margin-left: -250px;
        }
        .edit{
            margin-top: 30px;
        }
        .coba{
            margin-left: -250px;
        }
        #sidebar.active {
            margin-left: 0;
        }
        #sidebarCollapse span {
            display: none;
        }
        .togglemenu{
            display: inline;
        }
        #dismiss.active{
            display: inline;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 20px;
            text-align: center;
            background: #0066ff;
            position: fixed;
            top: 0;
            margin-left: 250px;
            cursor: pointer;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
        }
        .overlay.active {
            display: block;
            opacity: 1;
        }

        .my-card{
            position:absolute;
            left:45%;
            top:-30px;
            border-radius:50%;
        }


    }
