		body {
			background: #00ffff;
		}

		.card-signin {
			border: 0;
			border-radius: 1rem;
			box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
		}

		.card-signin .card-title {
			margin-bottom: 2rem;
			font-weight: 300;
			font-size: 1.5rem;
		}

		.card-signin .card-body {
			padding: 2rem;
		}

		.form-signin .btn {
			font-size: 80%;
			border-radius: 5rem;
			letter-spacing: .1rem;
			font-weight: bold;
			padding: 0.7rem;
			transition: all 0.2s;
			background-color: #00ffcc;
			border: none;
		}

		.form-label-group {
			position: relative;
			margin-bottom: 1rem;
		}

		.form-label-group input {
			height: auto;
			border-radius: 2rem;
		}
		a:hover{
			text-decoration: none;
		}

		/*register*/
		.form-group input {
			height: auto;
			
		}
		.card-cus{
			padding: 0; border-radius: 0.5rem;
		}
		.fomr-cus{
			padding-left: 10px; padding-right: 10px;
		}
		.btn-cus{
			font-size: 80%;
			width: 250px;
			float: right;
			border-radius: 5rem; 
			letter-spacing: .1rem; 
			font-weight: bold; 
			padding: 0.5rem; 
			transition: all 0.2s;
		}