
/* navbar */
.navbar{
	background-color: #000000e0;
	position: relative;
	z-index: 3;
}

.navbar-brand{
	font-size: 32px;
}

/* jumbotron */
.jumbotron{
	background-image: url('/foto/ui/jumbotron.png');
	background-size: cover;
	height: 500px;
	margin-bottom: 0px;
	text-align: center;
	position: relative;
}


.jumbotron .container{
	position: relative;
	z-index: 1;
}


.jumbotron::after{
	content:'';
	display: block;
	width:100%;
	height:80%;
	background-image: linear-gradient(to top,rgba(0,0,0,1),rgba(0,0,0,0));
	position: absolute;
	bottom: 0;
}


.jumbotron h1{
	color: white;
	margin-top: 150px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
	font-weight: 200;
	font-size: 40px;
	margin-bottom: 30px;
}


.jumbotron h1 span{
	font-weight: 500;
}



/*info panel*/
.info-panel{
	background-color: white;
	box-shadow: 0 3px 20px rgba(0,0,0,0.5);
	border-radius: 12px;
	padding: 30px;
	margin-top: -130px;
}


.info-panel img{
	height:100px;
}


/*deskripsi*/

.deskripsi h3{
	font-size:42px;
	font-weight: 200;
	text-transform: uppercase;
	margin-top: 30px;
}


.deskripsi h3 span{
	font-weight: 500;
}


.deskripsi p{
	font-size: 18px;
	color: black;
	font-weight: 200;
	margin: 25px 0;
}

/*barang coming soon*/
.background{
	padding: 20px 0px 75px;
	background: linear-gradient(315deg, #17009F 0%, #078BE6 95%);
	border-top:5px solid #FA8C42;

}
	.pagination{
		float: right; 
		margin-right: 20px;
	}

	.judul{
		text-shadow: 3px 3px gray;
		color: #F3F4FA;
		font-weight:800;
		font-size:2.5rem; 
		margin-bottom: 40px;
	}
	.crop img{
		height: 240px;
		object-fit: cover;
	}
	.card{
		border-radius: 25px;
		background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
		color: white;

	}
	#clock > div {
		border-radius: 5px;
		background: #006bb3;
		padding: 10px 10px 5px 10px;
		color: #fff;
		display: inline-block;
	}
	#clock > div > p {
		font-size: 16px;
	}
	.days, .hours, .minutes, .seconds {
		padding: 5px;
		font-size: 16px;
		background: #005c99;
		display: inline-block;
		width: 40px;
	}
	span.turn {
		animation: turn 0.7s ease;
	}
	@keyframes turn {
		0% {transform: rotateX(0deg)}
		100% {transform: rotateX(360deg)}
	}
	/*end coming soon*/

		/**
		/*	Preloader
		/* ==========================================*/

		#preloader {
			background-color: #fff;
			position: fixed;
			width: 100%;
			height: 100%;
			z-index: 9999;
		}

		/*Battery*/
		.loder-box {
			background-color: rgba(0, 0, 0, 0.02);
			border-radius: 1px;
			height: 100px;
			left: 50%;
			margin-left: -64px;
			margin-top: -50px;
			position: absolute;
			top: 50%;
			width: 128px;
		}

		.battery{
			width: 60px;
			height: 25px;
			top: 35%;
			border: 1px #2E2E2E solid;
			border-radius: 2px;
			position: relative;
			-webkit-animation: charge 5s linear infinite;
			-moz-animation: charge 5s linear infinite;
			animation: charge 5s linear infinite;
			margin: 0 auto;
		}

		.battery:after {
			background-color: #2E2E2E;
			border-radius: 0 1px 1px 0;
			content: "";
			height: 10px;
			position: absolute;
			right: -5px;
			top: 7px;
			width: 3px;
		}

		@-webkit-keyframes charge{
			0%{box-shadow: inset 0px 0px 0px #2E2E2E;}
			100%{box-shadow: inset 60px 0px 0px #2E2E2E;}
		}

		@-moz-keyframes charge{
			0%{box-shadow: inset 0px 0px 0px #2E2E2E;}
			100%{box-shadow: inset 60px 0px 0px #2E2E2E;}
		}

		@keyframes charge{
			0%{box-shadow: inset 0px 0px 0px #2E2E2E;}
			100%{box-shadow: inset 60px 0px 0px #2E2E2E;}
		}
		/*end Preloader*/


		/* footer */
		.site-footer
		{
			background-color:#26272b;
			padding:20px 0 20px;
			font-size:15px;
			line-height:24px;
			color:#737373;
		}
		.site-footer a
		{
			color:#737373;
		}
		.site-footer a:hover
		{
			color:#3366cc;
			text-decoration:none;
		}
		.copyright-text{
			margin:0;
		}
		@media (max-width:991px)
		{
			.site-footer [class^=col-]
			{
				margin-bottom:30px;
			}
		}
		@media (max-width:767px)
		{
			.site-footer{
				padding-bottom:0;
			}
			.copyright-text{
				text-align:center;
			}
		}
		/*end footer*/

		/* utilities*/
		.tombol{
			border-radius:40px;
		}
		.a{
			display: none;
		}

		.sticky {
			position: fixed;
			top: 0;
			width: 100%;
		}

		.sticky + .contents {
			padding-top: 60px;
		}


		/* desktop version */

		@media(min-width:992px){
			.navbar-brand, .nav-link{
				color:white !important;
				text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
			}

			.nav-link{
				text-transform: uppercase;
				margin-right:30px;
			}

			.active::after, .nav-link:hover::after{
				content: '';
				display: block;
				border-bottom :3px solid #0b63dc;
				width:50%;
				margin:auto;
				padding-bottom: 5px;
				margin-bottom: -8px;
			}


			.jumbotron{
				margin-top:-75px;
				height:600px;
			}


			.jumbotron h1{
				font-size: 62px;
			}


			.deskripsi{
				margin-top: 2rem;
				text-align: left;
			}

		}

		@media(max-width:992px){
			#body{
				margin-top: -130px;
			}
			.a{
				display: inline;
			}
			.b, .info-panel{
				display: none;
			}
			.jumbotron .container{
				position: relative;
				z-index: 1;
				margin-top: -100px;
			}
			.jumbotron{
				margin-top:-55px;
			}
			.deskripsi{
				margin-top:130px;
				text-align: center;
			}

		}